@media screen and (max-width: 768px) {

    .carrousel {
        &Item {
            flex-direction: column-reverse;
            &Info {
                margin-top: 40px;
                transform: translateX(-30px);
            }
            &Img {
                margin-left: 0;
            }
        }
    }

    .catalog {
        &List {
            padding: 25px 30px;
            grid-template-columns: 1fr;
        }
    }

    .footer {
        &FirstContainer {
            padding: 60px 40px 40px 40px;
        }
    }

}