@media screen and (max-width: 768px) {

    .heroContainer {
        height: auto;
    }

    .carrousel {
        height: auto;
        &Item {
            max-width: 80%;
            height: 80%;
            margin: 25px 0;
            &Info {
                margin-top: 40px;
                transform: translateX(-30px);
            }
            &Img {
                margin-left: 0;
            }
        }
    }

    .catalog {
        &List {
            padding: 25px 30px;
            grid-template-columns: 1fr;
        }
    }

    .mainConfirm {
        &Anim {
            top: 0;
            height: 50%;
        }
    } 

    .anim404 {
        width: 100%;
        height: auto;
    }

    .footer {
        &FirstContainer {
            padding: 60px 40px 40px 40px;
        }
    }

}