@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@media screen and (max-width: 481px) {
  .headerIcon {
    padding-right: 20px;
  }
  .heroContainer {
    height: 800px;
  }
  .carrouselItemInfo {
    transform: translateX(0px);
  }
  .carrouselItemCategory {
    font-size: 20px;
  }
  .carrouselItemName {
    font-size: 40px;
  }
  .carrouselItemPrice {
    font-size: 20px;
  }
  .carrouselItemMore {
    margin-top: 40px;
  }
  .carrouselItemImg {
    height: auto;
    width: 80%;
  }
  .catalogList {
    padding: 25px 15px;
  }
  .displayArticle img {
    margin-top: 50px;
    width: 80%;
  }
  .displayArticleTxt {
    flex-direction: column;
  }
  .displayArticleInfo {
    text-align: center;
    margin: 25px 0 50px 0;
  }
  .displayArticleBtn {
    margin-right: 0;
  }
  .informations a {
    padding: 20px 35px;
  }
  .cart {
    width: 80%;
    padding: 20px 10%;
  }
  .cart a {
    padding: 20px 25px;
  }
  .checkoutTitle {
    margin: 0;
    margin-bottom: 10px;
  }
  .mainConfirm, .mainCancel, .mainEmptyCart {
    margin: 0;
  }
  .mainConfirmSentence, .mainCancelSentence, .mainEmptyCartSentence {
    font-size: 18px;
  }
  .returnHome {
    margin-top: 50px;
    padding: 20px;
  }
  .footerFirstContainer {
    padding: 40px 30px;
  }
  .footerFirstContainerLinks {
    flex-direction: column;
  }
  .footerFirstContainerLinks * {
    width: 100%;
    margin: 15px 0;
  }
  .footerFirstContainerLinks li {
    font-size: 18px;
  }
  .footerSecondContainer {
    flex-direction: column;
    align-items: center;
  }
  .newsletter {
    width: 100%;
  }
  .newsletter p, .newsletter li {
    font-size: 15px;
    margin: 10px 0;
  }
  .newsletterTextInput {
    font-size: 15px;
    width: calc(100% - 12px);
    height: 50px;
    padding: 0 0 0 10px;
  }
  .newsletterBtn {
    height: 50px;
  }
  .phoneStoreBtns * {
    margin-top: 10px;
    height: 35px;
  }
  .legal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .social {
    padding-inline-start: 0;
    justify-content: flex-start;
  }
  .fa-facebook {
    margin-left: 0;
  }
}
