@media screen and (max-width: 481px) {
   
    @mixin flexCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header {
        &Icon {
            padding-right: 20px;
        }
    }

    .hero {
        &Container {
            height: 800px;
        }
    }

    .carrousel {
        &Item {
            &Info {
                transform: translateX(0px);
            }
            &Category {
                font-size: 20px;
            }
            &Name {
                font-size: 40px;
            }
            &Price {
                font-size: 20px;
            }
            &More {
                margin-top: 40px;
            }
            &Img {
                height: auto;
                width: 80%;
            }
        }
    }

    .catalog {
        &List {
            padding: 25px 15px;
        }
    }

    .displayArticle {
        & img {
            margin-top: 50px;
            width: 80%;
        }
        &Txt {
            flex-direction: column;
        }
        &Info {
            text-align: center;
            margin: 25px 0 50px 0;
        }
        &Btn {
            margin-right: 0;
        }
    }
   
    .footer {
        &FirstContainer {
            padding: 40px 30px;
            &Links {
                flex-direction: column;
                & * {
                    width: 100%;
                }
            }
        }
        &SecondContainer {
            flex-direction: column;
            align-items: center;
        }
    }

    .newsletter {
        width: 100%;
        & p, li {
            font-size: 15px;
            margin: 10px 0;
        }
        &TextInput {
            font-size: 15px;
            width: calc(100% - 12px);
            height: 50px;
            padding: 0 0 0 10px;
        }
        &Btn {
            height: 50px;
        }
    }

    .phoneStoreBtns * {
        margin-top: 10px;
        height: 35px;
    }

    .legal {
        @include flexCenter;
        text-align: center;
        flex-direction: column;
    }
    .social {
        padding-inline-start: 0;
        justify-content: flex-start;
    }

    .fa-facebook {
        margin-left: 0;
    }
}