$textColor : #2B2B2B;
$bgColorGrey : #F5F5F5;
$borderColor :#E9EBF3;
$orinocoLinkColor : #6888f3;
$bgArticle : #ADD4FF;

$fontSizeS : 18px;
$fontSizeM : 20px;
$fontSizeL : 24px;
$fontSizeXL : 28px;
$fontSizeXXL : 48px;
$fontSizeXXXL : 64px;


$screenSize : 1920px;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin sectionWidth {
    max-width: 1920px;
    margin: auto;
}

@mixin btnOne {
    cursor: pointer;
    display: inline-block;
    background: #EFF6F7;
    padding: 20px 70px;
    border-radius: 50px;
    font-size: $fontSizeS;
    font-weight: bolder;
}

@mixin btnTwo {
    cursor: pointer;
    display: inline-block;
    background: #FBB03B;
    padding: 20px 70px;
    border-radius: 50px;
    font-size: $fontSizeS;
    font-weight: bolder;
}

@mixin shineConditions {
    position: relative;
    overflow: hidden;
}

@mixin shine {
    &:after {
        content: "";
        position: absolute;
        top: -110%;
        left: -210%;
        width: 200%;
        height: 200%;
        opacity: 0;
        transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(
          to right, 
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 77%,
          rgba(255, 255, 255, 0.5) 92%,
          rgba(255, 255, 255, 0.0) 100%
        );
      }
    &:hover:after {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
      }
}

@mixin labelTitle {
    &::before {
        content: attr(aria-label);
        font-size: $fontSizeL;
        font-weight: 600;
        color: $textColor;
    }
}


@media screen and (max-width: 481px) {
   
    .header {
        &Icon {
            padding-right: 20px;
        }
    }

    .hero {
        &Container {
            height: 800px;
        }
    }

    .carrousel {
        &Item {
            &Info {
                transform: translateX(0px);
            }
            &Category {
                font-size: 20px;
            }
            &Name {
                font-size: 40px;
            }
            &Price {
                font-size: 20px;
            }
            &More {
                margin-top: 40px;
            }
            &Img {
                height: auto;
                width: 80%;
            }
        }
    }

    .catalog {
        &List {
            padding: 25px 15px;
        }
    }

    .displayArticle {
        & img {
            margin-top: 50px;
            width: 80%;
        }
        &Txt {
            flex-direction: column;
        }
        &Info {
            text-align: center;
            margin: 25px 0 50px 0;
        }
        &Btn {
            margin-right: 0;
        }
    }

    .informations {
        & a {
            padding: 20px 35px;
        }
    }
   
    .mainConfirm, .mainCancel, .mainEmptyCart {
        margin: 20% 0;
        &Sentence {
            font-size: $fontSizeS;
        }
    }

    .main404 {
        &Sentence {
            font-size: $fontSizeXXL;
        }
    }

    .footer {
        &FirstContainer {
            padding: 40px 30px;
            &Links {
                flex-direction: column;
                & * {
                    width: 100%;
                }
            }
        }
        &SecondContainer {
            flex-direction: column;
            align-items: center;
        }
    }

    .newsletter {
        width: 100%;
        & p, li {
            font-size: 15px;
            margin: 10px 0;
        }
        &TextInput {
            font-size: 15px;
            width: calc(100% - 12px);
            height: 50px;
            padding: 0 0 0 10px;
        }
        &Btn {
            height: 50px;
        }
    }

    .phoneStoreBtns * {
        margin-top: 10px;
        height: 35px;
    }

    .legal {
        @include flexCenter;
        text-align: center;
        flex-direction: column;
    }
    .social {
        padding-inline-start: 0;
        justify-content: flex-start;
    }

    .fa-facebook {
        margin-left: 0;
    }
    
}

