@media screen and (max-width: 481px) {
  .catalogList {
    padding: 25px 15px;
  }
  .footerFirstContainer {
    padding: 40px 30px;
  }
  .footerFirstContainerLinks {
    flex-direction: column;
  }
  .footerFirstContainerLinks * {
    width: 100%;
  }
  .footerSecondContainer {
    flex-direction: column;
    align-items: center;
  }
  .newsletter {
    width: 100%;
  }
  .newsletter p, .newsletter li {
    font-size: 15px;
    margin: 10px 0;
  }
  .newsletterTextInput {
    font-size: 15px;
    width: calc(100% - 12px);
    height: 50px;
    padding: 0 0 0 10px;
  }
  .newsletterBtn {
    height: 50px;
  }
  .phoneStoreBtns * {
    margin-top: 10px;
    height: 35px;
  }
  .legal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .social {
    padding-inline-start: 0;
    justify-content: flex-start;
  }
  .fa-facebook {
    margin-left: 0;
  }
}
