@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@media screen and (max-width: 1351px) {
  .carrouselItemInfo {
    bottom: 80px;
    left: 60px;
  }
  .carrouselItemImg {
    height: 60%;
  }
  .catalogList {
    padding: 25px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .displayArticleBtn {
    padding: 20px 35px;
  }
  .cart {
    padding: 80px 5%;
  }
  .checkoutName, .checkoutContact, .checkoutCard, .checkoutAdress {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
  }
}
