@media screen and (max-width: 1351px) {

    .carrousel {
        &Item {
            &Info {
                bottom: 80px;
                left: 60px;
            }
            &Img {
                height: 60%;
            }
        }
    }

    .catalog {
        &List {
            padding: 25px 20px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}