@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  color: #2B2B2B;
  font-family: 'Raleway', sans-serif;
  margin: auto;
}

a {
  text-decoration: none;
  color: #2B2B2B;
}

.returnHome {
  cursor: pointer;
  display: inline-block;
  background: #FBB03B;
  padding: 20px 70px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HEADER */
.header {
  max-width: 1920px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 100px;
}

.headerLogo {
  padding-left: 5vw;
}

.headerNavigation {
  padding-right: 5vw;
}

.headerIcon {
  color: #2B2B2B;
  padding-right: 30px;
}

/* MAIN HOME */
.hero {
  background: #C2DEE0;
}

.heroContainer {
  height: 900px;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

.carrousel {
  height: 100%;
  min-width: 100%;
  max-width: calc(1920px * 3);
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  animation: carrouselAnimation 10s ease-in-out infinite;
  display: flex;
}

.carrouselItem {
  float: left;
  min-width: 100%;
  max-width: 1920px;
  height: 100%;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrouselItemInfo {
  position: absolute;
  bottom: 160px;
  left: 140px;
}

.carrouselItemCategory {
  font-size: 24px;
  font-weight: bolder;
  margin: 12px 0;
}

.carrouselItemName {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.carrouselItemPrice {
  font-size: 24px;
  font-weight: bolder;
  margin: 12px 0;
}

.carrouselItemMore {
  margin-top: 60px;
  cursor: pointer;
  display: inline-block;
  background: #EFF6F7;
  padding: 20px 70px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bolder;
}

.carrouselLinks {
  max-width: 1920px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrouselLinks * {
  height: 5px;
  width: 20px;
  border-radius: 50px;
  background: #F5F5F5;
  margin: 20px 5px;
}

@keyframes carrouselAnimation {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-200%);
  }
  90% {
    transform: translateX(0%);
  }
}

.catalog {
  max-width: 1920px;
  margin: auto;
}

.catalogAnchor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 20px;
}

.catalogList {
  padding: 50px 140px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 536px);
  justify-content: center;
}

.catalogListItem {
  height: auto;
  background: #F5F5F5;
  margin: 8px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.catalogListItem * {
  margin-top: 20px;
  font-weight: 800;
}

.catalogListItemName {
  font-size: 28px;
}

.catalogListItemImgLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-chevron-down {
  padding-left: 5px;
}

/* MAIN ARTICLE */
.articleMain {
  max-width: 1920px;
  margin: auto;
  display: flex;
}

.displayArticle {
  max-width: 1108px;
  background: #ADD4FF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.displayArticle img {
  margin-top: 140px;
}

.displayArticleTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-weight: bolder;
  width: 100%;
  margin: 20px 0 80px 0;
}

.displayArticleInfo {
  margin-left: 10%;
}

.displayArticleInfoCategory {
  font-size: 24px;
  margin: 12px 0;
}

.displayArticleInfoName {
  font-size: 48px;
  margin: 0;
}

.displayArticleInfoPrice {
  font-size: 24px;
  margin: 12px 0;
}

.displayArticleBtn {
  margin-right: 10%;
  cursor: pointer;
  display: inline-block;
  background: #EFF6F7;
  padding: 20px 70px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bolder;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 812px;
}

.informations > div {
  padding: 0 10%;
}

.informationsColors {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.informationsColors::before {
  content: attr(aria-label);
  font-size: 24px;
  font-weight: 600;
  color: #2B2B2B;
}

.informationsColors::before {
  position: absolute;
  bottom: 45px;
}

.informationsColorsColor {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.informationsColorsColor:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

.informationsColorsColor:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.informationsColorsColorOne {
  background: tan;
  margin-left: 0;
}

.informationsColorsColorTwo {
  background: chocolate;
}

.informationsColorsColorThree {
  background: black;
}

.informationsColorsColorFour {
  background: white;
}

.informationsDescription::before {
  content: attr(aria-label);
  font-size: 24px;
  font-weight: 600;
  color: #2B2B2B;
}

.informations a {
  width: 150px;
  align-self: center;
  margin-top: 100px;
}

/* MAIN CONFIRMATION / CANCELLATION / EMPTY CART / 404 */
.mainConfirm {
  max-width: 1920px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15% 0;
  min-height: 50vh;
}

.mainConfirmSentence {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.mainConfirmSubtile {
  text-align: center;
}

.mainCancel {
  max-width: 1920px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15% 0;
  min-height: 50vh;
}

.mainCancelSentence {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.mainCancelSubtile {
  text-align: center;
}

.mainEmptyCart {
  max-width: 1920px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15% 0;
  min-height: 50vh;
}

.mainEmptyCartSentence {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.mainEmptyCartSubtile {
  text-align: center;
}

.mainEmptyCartIcon {
  margin: 20px 0;
}

.main404 {
  max-width: 1920px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15% 0;
  min-height: 50vh;
}

.main404Sentence {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.main404Subtile {
  text-align: center;
}

.main404Sentence {
  font-size: 100px;
  margin: 0;
}

/* FOOTER */
.footer {
  background: #F5F5F5;
}

.footerFirstContainer {
  padding: 115px 80px 40px 80px;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 2px solid #E9EBF3;
}

.footerFirstContainerLinks {
  display: flex;
}

.footerFirstContainerLinks :nth-child(1) {
  margin-right: 40px;
}

.footerList {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
  font-size: 20px;
}

.footerList::before {
  content: attr(aria-label);
  font-size: 24px;
  font-weight: 600;
  color: #2B2B2B;
}

.footerList * {
  color: #2B2B2B;
  margin: 27px 0;
}

.footerSecondContainer {
  padding: 20px 80px 40px 80px;
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  color: #C5C5C5;
}

.footerList a, .legal a {
  position: relative;
  transition: color 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.footerList a::before, .legal a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #6888f3;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.footerList a:hover, .legal a:hover {
  color: #6888f3;
}

.footerList a:hover::before, .legal a:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.newsletter {
  width: 400px;
}

.newsletterTextInput {
  width: calc(100% - 27px);
  height: 68px;
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  opacity: 0.6;
  border: 2px solid #E9EBF3;
}

.newsletterBtn {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 68px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  border: none;
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: rgba(108, 157, 243, 0.6) 0 24px 30px;
  background-image: linear-gradient(to right top, #8acbff, #77bcfe, #6aacfd, #659af9, #6888f3);
}

.phoneStoreBtns {
  position: absolute;
  left: 80px;
  bottom: 20px;
  display: flex;
}

.phoneStoreBtns :nth-child(1) {
  margin-right: 5px;
}

.legal * {
  color: #2B2B2B;
}

.legal :nth-child(1) {
  font-weight: 600;
}

.social {
  list-style-type: none;
  display: flex;
}

.social * {
  cursor: pointer;
  margin-left: 10px;
}

.social *:hover {
  color: #2B2B2B;
}
