$textColor : #2B2B2B;
$bgColorGrey : #F5F5F5;
$borderColor :#E9EBF3;
$orinocoLinkColor : #6888f3;
$btnColorBlue : #EFF6F7;
$bgArticle : #ADD4FF;

$fontSizeS : 18px;
$fontSizeM : 20px;
$fontSizeL : 24px;
$fontSizeXL : 28px;
$fontSizeXXL : 48px;
$fontSizeXXXL : 64px;


$screenSize : 1920px;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin sectionWidth {
    max-width: 1920px;
    margin: auto;
}

@mixin btnOne {
    cursor: pointer;
    display: inline-block;
    background: $btnColorBlue;
    padding: 20px 70px;
    border-radius: 50px;
    font-size: $fontSizeS;
    font-weight: bolder;
}

@mixin shineConditions {
    position: relative;
    overflow: hidden;
}

@mixin shine {
    &:after {
        content: "";
        position: absolute;
        top: -110%;
        left: -210%;
        width: 200%;
        height: 200%;
        opacity: 0;
        transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(
          to right, 
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 77%,
          rgba(255, 255, 255, 0.5) 92%,
          rgba(255, 255, 255, 0.0) 100%
        );
      }
    &:hover:after {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
      }
}

@mixin labelTitle {
    &::before {
        content: attr(aria-label);
        font-size: $fontSizeL;
        font-weight: 600;
        color: $textColor;
    }
}

body {
    color: $textColor;
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

a {
    text-decoration: none;
    color: $textColor;
}

/* HEADER */

.header {
    @include sectionWidth;
    @include flexCenter;
    justify-content: space-between;
    height: 100px;
    &Logo {
        padding-left: 5vw;
    }
    &Navigation {
        padding-right: 5vw;
    }
    &Icon {
        color: $textColor;
        padding-right: 30px;
    }
}

/* MAIN HOME */

.hero {
    background: #C2DEE0;
    &Container {
        height: 900px;
        @include sectionWidth;
        overflow: hidden;
    }
}

.carrousel {
    height: 100%;
    min-width: 100%;
    max-width: calc(#{$screenSize} * 3);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    animation: carrouselAnimation 10s ease-in-out infinite;
    display: flex;
    &Item {
        float: left;
        min-width: 100%;
        max-width: $screenSize;
        height: 100%;
        scroll-snap-align: start;
        position: relative;
        @include flexCenter;
        &Info {
            position: absolute;
            bottom: 160px;
            left: 140px;
        }
        &Category {
            font-size: $fontSizeL;
            font-weight: bolder;
            margin: 12px 0;
        }
        &Name {
            font-size: $fontSizeXXL;
            font-weight: 800;
            margin: 0;
        }
        &Price {
            font-size: $fontSizeL;
            font-weight: bolder;
            margin: 12px 0;
        }
        &More {
            margin-top: 60px;
            @include btnOne;
        }
    }
    &Links {
       @include sectionWidth;
       @include flexCenter;
       & * {
           height: 5px;
           width: 20px;
           border-radius: 50px;
           background: $bgColorGrey;
           margin: 20px 5px;
       }
    }
}

@keyframes carrouselAnimation {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-200%);
    }
    90% {
        transform: translateX(0%)
    }
}

.catalog {
    @include sectionWidth;
    &Anchor {
        @include flexCenter;
        height: 80px;
        font-size: $fontSizeM;
    }
    &List {
        padding: 50px 140px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 536px);
        justify-content: center;
        &Item {
            height: auto;
            background: $bgColorGrey;
            margin: 8px;
            padding: 40px;
            @include flexCenter;
            flex-direction: column;
            & * {
                margin-top: 20px;
                font-weight: 800;
            }
            &Name {
                font-size: $fontSizeXL;
            }
            &Img {
                &Link {
                    @include flexCenter;
                }
            }
        }
    }
}

.fa-chevron-down {
    padding-left: 5px;
}

/* MAIN ARTICLE */ 

.articleMain {
    @include sectionWidth;
    display: flex;
}

.displayArticle {
    max-width: 1108px;
    background: $bgArticle;
    @include flexCenter;
    flex-direction: column;
    & img {
        margin-top: 140px
    }
    &Txt {
        @include flexCenter;
        justify-content: space-between;
        font-weight: bolder;
        width: 100%;
        margin: 20px 0 80px 0;
    }
    &Info {
        margin-left: 10%;
        &Category {
            font-size: $fontSizeL;
            margin: 12px 0;
        }
        &Name {
            font-size: $fontSizeXXL;
            margin: 0;
        }
        &Price {
            font-size: $fontSizeL;
            margin: 12px 0;
        }
    }
    &Btn {
        margin-right: 10%;
        @include btnOne;
    }
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 812px;
    & > div {
        padding: 0 10%;
    }
    &Colors {
        @include labelTitle;
        @include flexCenter;
        position: relative;
        justify-content: flex-start;
        margin-bottom: 50px;
        &::before {
            position: absolute;
            bottom: 45px;
        }
        &Color {
            @include shineConditions;
            @include shine;
            cursor: pointer;
            margin: 0 10px;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            &One {background: tan; margin-left: 0;}
            &Two {background: chocolate;}
            &Three {background: black;}
            &Four {background: white;}
        }
    }
    &Description {
        @include labelTitle;
        &Desc {}
    }
}


/* FOOTER */

.footer {
    background: $bgColorGrey;
    &FirstContainer {
        padding: 115px 80px 40px 80px;
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom: 2px solid $borderColor;
        &Links {
            display: flex;
            & :nth-child(1) {
                margin-right: 40px;
            }
        }
    }

    &List {
        @include labelTitle;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        list-style-type: none;
        font-size: $fontSizeM;
        & * {
            color: $textColor;
            margin: 27px 0;
        }
    }


    &SecondContainer {
        padding: 20px 80px 40px 80px;
        max-width: 1280px;
        margin: auto;
        @include flexCenter;
        justify-content: space-between;
        color: #C5C5C5;
    }
}


.footerList a, .legal a {
    position: relative;
    transition: color 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        right: 0;
        width: 0;
        height: 2px;
        background-color: $orinocoLinkColor;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &:hover {
        color: $orinocoLinkColor;
        &::before {
            left: 0;
            right: auto;
            width: 100%;
        }
    }
}


.newsletter {
    width: 400px;
    &TextInput {
        width: calc(100% - 27px);
        height: 68px;
        padding-left: 25px;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: 'Raleway', sans-serif;
        font-size: $fontSizeS;
        opacity: 0.6;
        border: 2px solid $borderColor;
    }
    &Btn {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 68px;
        margin: 0;
        font-family: 'Raleway', sans-serif;
        font-size: $fontSizeS;
        border: none;
        color: white;
        font-weight: bolder;
        letter-spacing: 1px;
        border-radius: 5px;
        box-shadow: rgba(108,157,243,0.6) 0 24px 30px;
        background-image: linear-gradient(to right top, #8acbff, #77bcfe, #6aacfd, #659af9, #6888f3);
    }
}

.phoneStoreBtns {
    position: absolute;
    left: 80px;
    bottom: 20px;
    display: flex;
    & :nth-child(1) {margin-right: 5px;}
}

.legal {
    & * {
        color: $textColor;
    }
    & :nth-child(1) {
        font-weight: 600;
    }
}

.social {
    list-style-type: none;
    display: flex;
    & * {
        cursor: pointer;
        margin-left: 10px;
        &:hover {
            color: $textColor;
        }
    }
}
