@media screen and (max-width: 1024px) {
  .carrouselItemInfo {
    position: initial;
  }
  .carrouselItemImg {
    height: 50%;
    margin-left: 30px;
  }
  .footerFirstContainer {
    flex-direction: column;
  }
  .footerFirstContainerLinks * {
    width: 50%;
  }
  .footerFirstContainerLinks :nth-child(1) {
    margin-right: 0;
  }
  .newsletter {
    margin-top: 25px;
  }
  .phoneStoreBtns {
    position: initial;
  }
}
