@media screen and (max-width: 1024px) {

    .carrousel {
        &Item {
            &Info {
                position: initial;
            }
            &Img {
                height: 50%;
                margin-left: 30px;
            }
        }
    }

    .footer {
        &FirstContainer {
            flex-direction: column;
            &Links * {
                width: 50%;
            }
            &Links {
                & :nth-child(1) {
                    margin-right: 0;
                }
            }
        }
    }

    .newsletter {
        margin-top: 25px;
    }

    .phoneStoreBtns {
        position: initial;
    }
}
