@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@media screen and (max-width: 1024px) {
  .carrouselItemInfo {
    position: initial;
  }
  .carrouselItemImg {
    height: 50%;
    margin-left: 30px;
  }
  .articleMain {
    flex-direction: column;
  }
  .informations {
    margin: 100px 0 50px 0;
    max-width: 100%;
  }
  .cartMain {
    flex-direction: column;
  }
  .cart {
    width: 90%;
    padding: 20px 5%;
  }
  .cart a {
    margin: 25px 0;
  }
  .checkout {
    width: 100%;
  }
  .footerFirstContainer {
    flex-direction: column;
  }
  .footerFirstContainerLinks * {
    width: 50%;
  }
  .footerFirstContainerLinks :nth-child(1) {
    margin-right: 0;
  }
  .newsletter {
    margin-top: 25px;
  }
  .phoneStoreBtns {
    position: initial;
  }
}
